<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false"
         backupStaticAttributes="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         convertErrorsToExceptions="true"
         convertNoticesToExceptions="true"
         convertWarningsToExceptions="true"
         processIsolation="false"
         stopOnFailure="false">
    <testsuites>
        <testsuite name="Unit">
            <directory suffix="Test.php">./tests/Unit</directory>
        </testsuite>

        <testsuite name="Feature">
            <directory suffix="Test.php">./tests/Feature</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./app</directory>
        </whitelist>
    </filter>
    <php>
        <env name="DB_HOST" value="127.0.0.1" />
        <env name="DB_USERNAME" value="root" />
        <env name="DB_PASSWORD" value="mhm1458187@" />
        <env name="DB_DATABASE" value="laravel_scenario_logger_testing" />

        <env name="ALTERNATE_DB_HOST" value="127.0.0.1" />
        <env name="ALTERNATE_DB_USERNAME" value="root" />
        <env name="ALTERNATE_DB_PASSWORD" value="mhm1458187@" />
        <env name="ALTERNATE_DB_DATABASE" value="alternate_laravel_scenario_logger_testing" />

    </php>
    <logging>
        <log type="testdox-text" target="php://stdout" showUncoveredFiles="false" />
    </logging>
</phpunit>
